body {
    font-family: sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #800000;
    color: #ffffff;
    padding: 10px 20px;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    width: 62px;
  }
  
  .photo {
    margin-right: 10px;
  }
  
  h1 {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
  }
  
  main {
    padding: 11px;
    color: #050000;
  }
  
  section {
    margin-bottom: 15px;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #000000;
  }
  
  footer {
    background-color: #800000;
    padding: 10px 20px;
    color: #000;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  .personal-data-content {
    display: block;
  }
  
  .item {
    margin-bottom: 10px;
  }
  
  .item strong {
    font-weight: bold;
  }
  
  .education-content,
  .experience-content,
  .skills-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
  }
  
  .item li {
    margin-bottom: 0;
  }